@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
	text-align: center;
  	color: black;
  	font-family: 'Roboto Slab', serif;
}

}
h1, p {
	font-size: 22px;
  	border-bottom: 4px solid black;
  	display: inline-block;
}
header {
	background-color: #FFED74
	border-bottom: 4px solid black;
}
nav {
	background-color: #E8C66A
	border-bottom: 4px solid black;
}
article {
	background-color: #89C6C
	border-bottom: 4px solid black;
}
footer {
	background-color: #FF957E
	text-align: center;
  	padding: 1em 0;
}